// ================ Colors Start ================
// Текст
$text-primary: #333;
$text-second: brig-color($text-primary, -10%);
$text-accent: #FFCD6D;
$link-active: brig-color(#FFCD6D, -30%);

// Задний фон разделов
// $frame-dark: #080A0A;
// $frame-light: #0E1010;

// Обводка
$border-line: #cecece;

$error: #EB5757;

// Текстовые поля
$tf-label: $text-second;

// Цвета кнопок в файле 'scss/elements/button.scss'
// ================ Colors End ================

// ================ Responsive Start ================
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
// ================ Responsive End ================


// Размеры контейнера в 'scss/grid.scss'


// ================ Other Start ================
$ff-main: 'PT Serif', serif;
$tr: .3s;
$min-hover: 769px; // Минимальное разрешения экрана для hover-эффекта
// ================ Other End ================